# Virtual Environment
/.venv
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Alembic
alembic/README

.cursor/

guideline/